<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="SQLite Viewer"
        android:supportsRtl="true"
        android:theme="@style/Theme.SQLiteViewer"
        android:usesCleartextTraffic="false">
        <activity
            android:name="com.example.dbviewer.MainActivity"
            android:exported="true">
            <!-- Lint sees MIME-only VIEW filters as App Links; this filter is intentionally for file providers. -->
            <intent-filter tools:ignore="AppLinkUrlError" xmlns:tools="http://schemas.android.com/tools">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError" xmlns:tools="http://schemas.android.com/tools">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.sqlite3" />
                <data android:mimeType="application/x-sqlite3" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.sqlite3" />
                <data android:mimeType="application/x-sqlite3" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
    </application>
</manifest>
